h1.title1{
color:rgb(0,220,0);
font-family:felix titling;
font-size:60px;
border:10px double;
border-radius:5px;
text-align:center;
letter-spacing:3px;
width:500px;
margin-left:30%;
}
h1.title2{
color:rgb(0,255,0);
font-family:poor richard;
font-size:40px;
text-decoration:underline;
letter-spacing:2px;
}
h1.title3{
color:rgb(0,220,0);
font-family:felix titling;
font-size:60px;
border:10px double;
border-radius:5px;
text-align:center;
letter-spacing:3px;
width:1000px;
margin-left:5%;
}
h1.table{
color:rgb(255,255,255);
font-family:poor richard;
font-size:50px;
letter-spacing:2px;
margin-left:300px
}
h2.table{
color:rgb(255,255,255);
font-family:poor richard;
font-size:50px;
letter-spacing:2px;
}
p.enredo{
color:rgb(240,240,240);
font-family:constantia;
font-size:20px;
background-color:rgb(8,11,28);
}
p.note{
color:rgb(0,255,0);
background-color:rgb(8,11,28);
font-family:constantia;
font-size:25px;
}
th.title1,td.title1,td.title2{
color:rgb(0,255,255);
text-align:center;
font-size:25px;
border:3px solid rgb(0,255,0);
border-collapse:collapse;
background-color:rgb(8,11,28);
border-spacing:2px;
}
th.title2{
color:rgb(255,255,0);
text-align:center;
font-size:25px;
border:3px solid rgb(0,255,0);
border-collapse:collapse;
}
th.title1{
color:rgb(220,220,220);
text-align:center;
font-size:25px;
}
th.title2{
color:rgb(220,220,220);
text-align:center;
font-size:35px;
}
td.title1{
color:rgb(220,220,220);
text-align:center;
font-size:25px;
td.title2{
color:rgb(220,220,220);
text-align:center;
font-size:25px;
font-family:calibri light;
}
ul.title1{
list-style-type:square;
color:rgb(240,240,240);
font-family:constantia;
font-size:20px;
background-color:rgb(8,11,28);
}

